.education-container {
    width: calc(100% - 400px);
    padding: 0 200px 0 200px !important;
}

.point-container {
    width: calc(100% - 40px);
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px !important;
    border: 0.3px solid gray;
    margin-bottom: 20px !important;
    border-radius: 4px;
}

.point-all-container {
    display: flex;
    width: 80%;
    flex-direction: row;
    align-items: center;
}


.point-container img {
    width: 100px;
    margin-right: 20px !important;
}

.point-title {
    font-size: 32px;
    font-weight: bold;
    color: gray;
}

.point-actions-container {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: flex-end;
}
  
.point-actions-container a {
    width: 45px;
    height: 45px;
    margin-left: 10px !important;
    border: 1px solid gray;
    border-radius: 4px;
    display: flex;
    align-items: center;
    overflow: hidden;
    transition: width 1s ease;
    color: gray !important;
}
  
.point-actions-container a .icon {
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px !important;
    margin-right: 10px !important;
}

.point-actions-container a .description {
    margin-right: 10px !important;
}
  
.point-actions-container a .icon svg {
    width: 25px;
    height: 25px;
}
  
.point-actions-container a:hover {
    width: max-content;
}



/* EDUCATION POINT V2 */

.education-point-container {
    width: 100%;
    height: 120px;
    display: flex;
    place-items: center;
    margin: 50px 0 0 0 !important;
}

.left-border {
    width: 140px;
    height: 120px;
    display: flex;
    place-items: center;
}

.left-border-point {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: gray;
}

.left-border-line {
    height: 1px;
    width: 125px;
    background-color: gray;
}

.right-border {
    width: 140px;
    height: 120px;
    display: flex;
    place-items: center;
}

.right-border-point {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: gray;
}

.right-border-line {
    height: 1px;
    width: 125px;
    background-color: gray;
}

.education-container-v2 {
    width: 100%;
    height: 120px;
    border-radius: 4px;
    border: 1px solid gray;
    display: flex;
    place-items: center;
}

.education-container-v2 .education-info-container {
    width: 80%;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 20px 0 20px 20px !important;
}

.education-container-v2 .education-info-container img {
    max-width: 100px;
    max-height: 100px;
    margin: 0 20px 0 0 !important;
}

.education-container-v2 .education-info-container .education-info .education-title {
    font-size: 24px;
    font-weight: bold;
    color: gray;
}

.education-container-v2 .education-action-container {
    width: 20%;
    height: 120px;
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: center;
    padding: 20px 20px 20px 0 !important;
    gap: 10px;
}

.education-container-v2 .education-action-container .education-action {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: start;
    overflow: hidden;
    border-radius: 4px;
    border: 1px solid gray;
    transition: width 0.1s ease-in-out;
    gap: 10px;
}

.education-container-v2 .education-action-container .education-action .icon {
    width: 40px;
    height: 40px;
    display: flex;
    place-items: center;
    color: gray;
    margin-left: 7.5px !important;
}

.education-container-v2 .education-action-container .education-action .description {
    width: 100%;
}

.education-container-v2 .education-action-container .education-action:hover {
    width: 100%;
}
