.information-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px !important;
    margin-bottom: 20px !important;
}

.information-buttons-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.information-buttons-container button:nth-child(1) {
    width: 200px;
    background-color: transparent;
    padding: 10px !important;
    border-top-left-radius: 24px;
    border-bottom-left-radius: 24px;
    font-weight: bold;
    font-size: 22px;
    transition: 0.2s ease-in-out;
}

.information-buttons-container button:nth-child(2) {
    width: 200px;
    background-color: transparent;
    padding: 10px !important;
    border-top-right-radius: 24px;
    border-bottom-right-radius: 24px;
    font-size: 22px;
    transition: 0.2s ease-in-out;
}

.information-buttons-container button:hover {
    cursor: pointer;
    filter: brightness(1.1);    
}

.enabled {
    color: gray !important;
    font-weight: bold;
    border: 0.3px solid gray !important;
}

.disabled {
    color: lightgray !important;
    border: 0.3px solid lightgray !important;
}